:root {
    --main-color-dark: #9a208c;
    --main-color-bright: #e11299;
    --main-color-neutral: #ffeaea;
    --main-color-light: #f5c6ec;
    --black: #1d1d1d;
    --white: #fffcff;
    --gray: rgb(150, 150, 150);

    font-size: 16px;
}

*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
}

body {
    background-color: var(--white);
    font-family: "Raleway", sans-serif;

}

h1 {
    font-family: "Playfair Display", serif;
}

h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

#hero, #services, #gallery, #reviews, #about, #book {
    text-align: center;
}

header {
    background-color: var(--black);
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
}

header,
header section {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo {
    height: 3rem;
    margin-left: 0.5rem;
    width: 3rem;
}

.name {
    color: var(--main-color-bright);
    margin-left: 0.5rem;
}

.nav-link {
    text-decoration: none;
}

header nav {
    background-color: var(--main-color-light);
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 4.4rem;
    width: 100%;
}

#nav-links {
    display: none;
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
}

#nav-links li {
    padding: 1.2rem 0rem;
    width: 100%;
}

#nav-links li:hover {
    background-color: var(--main-color-dark);
}

#nav-links li:hover a {
    color: var(--main-color-light);
}

#nav-links li a {
    color: var(--main-color-dark);
}

.hamburger {
    background: none;
    border: none;
    margin-right: 0.5rem;
}

.hamburger .material-symbols-outlined {
    color: var(--main-color-light);
    font-size: 3rem;
}

main {
    margin-top: 4rem;
}

#hero {
    background-image: url("../img/cta_main_image_4.jpg");
    background-size: cover;
    padding: 2rem;

}

#hero h2 {
    color: var(--main-color-neutral);
    font-size: 3rem;
    text-shadow: 0.15rem 0.15rem 0.15rem var(--main-color-bright);
}

#hero p {
    color: var(--main-color-neutral);
    font-size: 1rem;
    text-shadow: 0.15rem 0.15rem 0.15rem var(--black);
}

#hero button {
    background: linear-gradient(
        45deg,
        var(--main-color-dark) 0%,
        var(--main-color-bright) 40%,
        var(--main-color-bright) 60%,
        var(--main-color-dark) 100%
    );
    border-radius: 0.2rem;
    border: 0.1rem solid var(--main-color-dark);
    margin: 1rem 2rem;
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;
    width: 9rem;
}

#hero button:hover {
    background: none;
    border-color: var(--main-color-bright);
}

#hero button a {
    color: var(--main-color-neutral);
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
}

#book {
    background-color: var(--black);
    padding: 2rem;

}
#book .heading {
    color: var(--white)
}
.calendar {
    align-items: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}
.month {
    align-items: center;
    color: var(--main-color-light);
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.month .prev, .month .next {
    background: none;
    border: none;
    color: var(--main-color-light);
    cursor: pointer;
}
.month p.current {
    font-size: 1rem;
    font-weight: 600;
    width: 5rem;
}
.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.days {
    grid-template-rows: repeat(6, 1fr);
}
.weekdays p, .day {
    align-items: center;
    display: flex;
    height: 2.2rem;
    justify-content: center;
    margin: 0;
    width: 2.2rem;
}

.calendar .loading {
    display: none;
}
.hours {
    align-items: center;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5rem;
}
.hours h1 {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 600;
}
.hour {
    padding: 0.4rem 0.6rem;
    width: 7.5rem;
}
.hour:hover {
    border-color: var(--main-color-light);
    color: var(--main-color-light);
}
.calendar .submit {
    background-color: var(--main-color-bright);
    border-radius: 0.3rem;
    border: 0.1rem solid var(--white);
    color: var(--white);
    display: none;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 2rem;
    padding: 0.5rem 2rem;
}
.calendar .submit:hover {
    background: none;
}

.day, .hour {
    background: none;
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0);
    color: var(--white);
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
}
.days .past, .hours .reserved {
    color: var(--gray);
    pointer-events: none;
    text-decoration: line-through;
}
.day:hover, .hour:hover, .day.selected, .hour.selected {
    border: 0.1rem solid var(--main-color-light);
    color: var(--main-color-light);
    cursor: pointer;
}

#gallery {
    background-color: var(--black);
    color: var(--white);
    margin: 0rem;
    padding: 1.5rem;
}
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gallery-container img {
    max-width: 10rem;
    height: auto;
    margin: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

#services {
    margin: 3rem;
}
#services h2 {
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 4rem 0rem;
    color: var(--main-color-dark);
}
.service-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin-top: 3.5rem;
}
.service img {
    width: 5rem;
}
.service h3 {
    color: var(--black);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
}

#about {

}